@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;

400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/*Шрифты*/

/*--------------------*/

/*mixin*/

/*--------------------*/

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.conteiner {
  max-width: 1922px;
  margin: 0 auto;
  padding: 0 70px;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  position: relative;
  color: #293341;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #647C8F;
  width: 150px;
  height: 4px;
  margin: 0 auto;
}

.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
  color: #7B7B7B;
  margin: 0 auto;
}

.btn {
  border: 2px solid #293341;
  max-height: 55px;
  display: inline-block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size: calc(11px + 3 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #293341;
}

.btn svg {
  display: inline-block;
  height: 30px;
  width: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  fill: #293341;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

/*=========================================================================================================*/

/*ШАПКА САЙТА==============================================================================================*/

.header_wrapper {
  min-height: 100vh;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.header_body {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 50px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu-link {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #293341;
  z-index: 5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  overflow: auto;
}

.header_menu-link.active {
  left: 0;
}

.header_list-link {
  padding: 230px 0 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_item-link {
  display: inline-block;
  margin-bottom: 30px;
}

.header_link-menu {
  font-size: calc(25px + 15 * ((100vw - 320px) / 1600));
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header_text-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  margin-top: 10%;
}

.header_text {
  position: relative;
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 762px;
}

.header_title {
  font-size: calc(50px + 30 * ((100vw - 320px) / 1600));
  line-height: 90px;
  color: #fff;
  margin-bottom: 30px;
}

.header_title:after {
  content: none;
}

.header_subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: uppercase;
}

.header_subtitle a {
  color: #fff;
}

.header_img-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header_img-bg span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header_img-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav_header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_header.active {
  position: relative;
}

.nav_header.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #293341;
  z-index: 6;
}

.nav_logo {
  z-index: 6;
}

.nav_logo img {
  max-width: 100%;
  padding-right: 20px;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_cart {
  z-index: 6;
  margin-right: 28px;
}

.nav_cart a {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_cart svg {
  display: none;
}

.icon_menu {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 20px;
  height: 16px;
  cursor: pointer;
  z-index: 6;
}

.icon_menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.icon_menu span:first-child {
  top: 0px;
}

.icon_menu span:last-child {
  top: auto;
  bottom: 0;
}

.icon_menu.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: #989898;
}

.icon_menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.icon_menu.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*BLOCK SECTION============================================================================================*/

.block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  background: #E5EDF3;
  text-align: center;
  margin-bottom: 10px;
}

.block_column:not(:last-child) {
  margin-right: 8px;
}

.block_icon {
  margin-top: 55px;
}

.block_title {
  font-size: calc(13px + 2 * ((100vw - 320px) / 1600));
  font-weight: 700;
  color: #71899B;
  margin-top: 15px;
  margin-bottom: 40px;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*INTRO SECTION============================================================================================*/

.intro_section {
  padding-top: 85px;
  margin-bottom: 50px;
}

.intro_body {
  text-align: center;
}

.intro_title {
  font-size: 40px;
  line-height: 47px;
  color: #293341;
  padding-bottom: 22px;
}

.intro_text {
  max-width: 853px;
  margin-top: 43.5px;
  margin-bottom: 32.5px;
}

.intro_btn {
  padding: 0 40px 0 26px;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*BLOCK PRODUCT============================================================================================*/

.section_product {
  padding-top: 50px;
}

.product_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 0 -15px;
  border-bottom: 1px solid #DDDDDD;
}

.product_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
  margin-bottom: 96px;
}

.product_img {
  margin-bottom: 42px;
  height: 550px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.product_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product_title {
  margin-bottom: 21px;
  font-size: calc(24px + 6 * ((100vw - 320px) / 1600));
  line-height: 35px;
  color: #293341;
}

.product_title::after {
  content: none;
}

.product_subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product_subtitle a {
  color: #293341;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product_subtitle a::after {
  content: '';
  position: absolute;
  width: 147px;
  height: 1px;
  background-color: #293341;
  top: 50%;
  left: -25%;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*RECOMMENDED PRODUCT======================================================================================*/

.recommended_section {
  padding-top: 85px;
  padding-bottom: 80px;
}

.recommended_title {
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 22px;
}

.recommended_product {
  margin-top: 70px;
}

.recommended_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12.5px;
  min-width: 0;
  position: relative;
}

.recommended_column {
  padding: 0 12.5px;
}

.recommended_img {
  max-width: 423px;
  height: 530px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.recommended_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.recommended_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended_info {
  color: #7B7B7B;
}

.recommended_title-product {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 6px;
}

.recommended_price {
  font-size: 16px;
}

.recommended_like svg {
  fill: #666666;
}

.product_btn {
  opacity: 0;
  position: absolute;
  bottom: -50%;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  line-height: 50px;
  padding: 0 40px 0 30px;
  text-align: center;
  margin: 0 20%;
  color: #293341;
  font-weight: 500;
  transition: .3s;
}

/* Стрелка */

.recommended_row .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 3;
  height: 60px;
  width: 60px;
  background-color: #fff;
  font-size: 0;
}

/* Стрелка влево */

.recommended_row .slick-arrow.slick-prev {
  left: 32.5px;
  background: url(../img/icons/arrow-prev.svg) 50% 50% no-repeat;
  background-color: #fff;
}

/* Стрелка вправо */

.recommended_row .slick-arrow.slick-next {
  right: 32.5px;
  background: url(../img/icons/arrow-next.svg) 50% 50% no-repeat;
  background-color: #fff;
}

/* Стрелка не активная */

.slick-arrow.slick-disabled {
  opacity: 0.5;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*TESTIMOIAL===============================================================================================*/

.section_testimoil {
  padding-top: 70px;
  padding-bottom: 45px;
}

.testimoial_header {
  background-color: #E5EDF3;
  text-align: center;
  height: 520px;
  padding: 0 10px;
}

.testimoial_title {
  padding-top: 80px;
  padding-bottom: 22px;
  font-size: 40px;
  line-height: 47px;
}

.testimoial_text {
  margin-top: 43px;
  font-size: 18px;
  font-weight: 300;
  padding: 0 10px;
}

.testimoial_footer {
  padding: 0 100px;
}

.testimoial_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  min-width: 0;
  position: relative;
}

.testimoial_column {
  margin: 0 15px;
  text-align: center;
  background-color: #fff;
}

.testimoial_comment-text {
  margin: 44px 37px 30px 37px;
  font-size: 16px;
  line-height: 26px;
}

.testimoial_img {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 13px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimoial_img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment_title {
  margin-bottom: 40px;
}

.comment_name {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #293341;
  margin-bottom: 6px;
}

.comment_lable {
  font-size: 14px;
  line-height: 17px;
  color: #7B7B7B;
}

.testimoial_row .slick-list {
  overflow: hidden;
  margin-top: -150px;
}

/* Лента слайдов */

.testimoial_row .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-size: 0;
  z-index: 3;
  bottom: -20px;
  cursor: pointer;
}

.slick-dots li {
  font-size: 0;
  background-color: #5C7E94;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin: 0 5px;
}

/* Активная точка */

.slick-dots li.slick-active {
  width: 33px;
  height: 12px;
  background-color: #293341;
  border-radius: 5px;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*INSTAGRAM================================================================================================*/

.section_instagram {
  padding-top: 85px;
  margin-bottom: 6px;
}

.instagram_header {
  margin-bottom: 80px;
}

.instagram_title {
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 22px;
  text-align: center;
}

.instagram_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram_item {
  margin: 0 12px;
  margin-bottom: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 287px;
          flex: 0 1 287px;
  position: relative;
  overflow: hidden;
}

.instagram_img {
  width: 100%;
  height: 287px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram_img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram_link {
  opacity: 1;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instagram_link svg {
  height: 30px;
  width: 30px;
  fill: #fff;
  margin: 0 auto;
  margin-top: 45%;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

/*=========================================================================================================*/

/*ПОДВАЛ САЙТА=============================================================================================*/

.footer {
  padding-bottom: 70px;
}

.footer_body {
  background-color: #293341;
}

.footer_top {
  padding: 90px 20px 0 50px;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #5C7E94;
}

.footer_column.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_logo img {
  margin-bottom: 30px;
}

.footer_logo-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  color: #7D94A6;
  margin-bottom: 24.5px;
}

.footer_about-list {
  margin-right: 146px;
}

.footer_about-title,
.footer_help-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  margin-bottom: 18.5px;
  text-transform: uppercase;
}

.footer_item a {
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  color: #7D94A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer_item a svg {
  height: 16px;
  width: 16px;
  fill: #7D94A6;
}

.footer_help-list {
  margin-right: 100px;
}

.footer_bottom {
  margin-top: 45px;
  padding: 0 50px 0 58px;
}

.footer_copyright {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #7D94A6;
}

.footer_social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_social-item {
  height: 14px;
  width: 14px;
}

.footer_social-item svg {
  fill: #7B7B7B;
}

.footer_social-item:not(:last-child) {
  margin-right: 40px;
}

.feedback_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.feedback_input {
  max-width: 570px;
  border: 1px solid #5C7E94;
}

.feedback_input form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 17px;
}

.feedback_input input {
  width: 80%;
  height: 60px;
  background-color: transparent;
  color: #7D94A6;
  font-size: 16px;
  font-weight: 300;
}

.feedback_input input ::-webkit-input-placeholder {
  color: #7D94A6;
}

.feedback_input input ::-moz-placeholder {
  color: #7D94A6;
}

.feedback_input input :-ms-input-placeholder {
  color: #7D94A6;
}

.feedback_input input ::-ms-input-placeholder {
  color: #7D94A6;
}

.feedback_input input ::placeholder {
  color: #7D94A6;
}

.feedback_input button {
  height: 18px;
  display: inline-block;
  background-color: transparent;
  width: 18px;
}

.feedback_input button svg {
  fill: #5C7E94;
}

/*=========================================================================================================*/

/*=========================================================================================================*/

@media (min-width: 992px) {
  .btn:hover {
    background-color: #293341;
    color: #fff;
  }

  .btn:hover svg {
    fill: #fff;
  }

  .header_link-menu:hover {
    color: #cacccf;
  }

  .product_img img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .product_subtitle a:hover::after {
    opacity: 1;
    left: -15%;
  }

  .recommended_img:hover .product_btn {
    opacity: 1;
    bottom: 10%;
  }

  .recommended_like svg:hover {
    fill: #db6649;
  }

  .product_btn:hover {
    background-color: #293341;
    color: #fff;
  }

  .instagram_item:hover .instagram_link {
    opacity: 1;
    top: 0;
  }

  .footer_item a:hover {
    color: #7B7B7B;
  }

  .footer_item a:hover svg {
    fill: #7B7B7B;
  }
}

@media (max-width: 1470px) {
  .footer_about-list {
    margin-right: 100px;
  }

  .footer_help-list {
    margin-right: 60px;
  }
}

@media (max-width: 1300px) {
  .footer_row.top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback_footer {
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .product_img {
    height: 450px;
  }
}

@media (max-width: 1150px) {
  .testimoial_footer {
    padding: 0 70px;
  }
}

@media (max-width: 1100px) {
  .recommended_img {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .conteiner {
    padding: 0 50px;
  }

  .header_body {
    margin-top: 50px;
  }

  .header_list-link {
    padding: 230px 0 0 100px;
  }

  .block_column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .block_column:not(:last-child) {
    margin-right: 0;
  }

  .product_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 76px;
  }

  .product_img {
    height: 550px;
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .testimoial_footer {
    padding: 0 30px;
  }
}

@media (max-width: 740px) {
  .footer_row.bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .footer_copyright {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .conteiner {
    padding: 0 30px;
  }

  .header_body {
    margin-top: 30px;
  }

  .header_list-link {
    padding: 200px 0 0 80px;
  }

  .header_title {
    line-height: 70px;
    margin-bottom: 25px;
  }
}

@media (max-width: 610px) {
  .footer_top {
    padding: 30px 20px 0 30px;
  }

  .footer_column.right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_about-list {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer_help-list {
    margin-right: 0;
  }

  .footer_social-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .header_list-link {
    padding: 180px 0 0 60px;
  }

  .header_title {
    line-height: 60px;
    margin-bottom: 20px;
  }

  .nav_header {
    padding: 30px;
  }

  .nav_cart a {
    font-size: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .nav_cart svg {
    height: 30px;
    width: 26px;
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 20px;
    fill: #fff;
  }
}

@media (max-width: 600px) and (max-width: 340px) {
  .nav_cart svg {
    height: 24px;
    width: 20px;
  }
}

@media (max-width: 560px) {
  .product_img {
    height: 450px;
  }
}

@media (max-width: 520px) {
  .testimoial_header {
    height: 580px;
  }

  .testimoial_footer {
    padding: 0 10px;
  }

  .testimoial_row .slick-list {
    margin-top: -140px;
  }
}

@media (max-width: 440px) {
  .product_img {
    height: 350px;
  }
}

@media (max-width: 425px) {
  .recommended_row .slick-arrow {
    height: 40px;
    width: 40px;
  }

  .section_testimoil {
    padding-top: 40px;
  }

  .slick-dots li {
    height: 8px;
    width: 8px;
  }

  .slick-dots li.slick-active {
    height: 8px;
    width: 22px;
  }

  .instagram_header {
    margin-bottom: 50px;
  }
}

@media (max-width: 400px) {
  .header_title {
    line-height: 55px;
  }

  .testimoial_row .slick-list {
    margin-top: -120px;
  }
}

@media (max-width: 390px) {
  .testimoial_header {
    height: 600px;
  }

  .testimoial_footer {
    padding: 0 5px;
  }
}

@media (max-width: 375px) {
  .btn a svg {
    height: 20px;
    width: 22px;
  }

  .header_list-link {
    padding: 140px 0 0 60px;
  }

  .product_img {
    height: 350px;
  }
}

@media (max-width: 340px) {
  .testimoial_row .slick-list {
    margin-top: -100px;
  }
}